* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: transparent;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Alinea las imágenes desde el principio */
    align-items: center;
    position: fixed;
    /* Fija la galería */
    top: 0;
    /* Coloca la galería en la parte superior */
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Ajusta la posición al centro de la pantalla */
    padding-top: 10px;
    /* Añade un pequeño margen superior */
}

a {
    margin: 2px 0;
    transition: transform 0.3s ease;
    text-align: center;
}

a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px rgba(255, 81, 0, 0.8);
}

a img {
    max-width: 100px;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 2px;
}

a:hover img {
    filter: hue-rotate(45deg);
    /* Efecto hover en naranja */
}

@media (max-width: 600px) {
    a img {
        max-width: 80px;
    }
}

@media (max-width: 400px) {
    a img {
        max-width: 60px;
    }
}