* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    margin: 2px 0;
    transition: transform 0.3s ease;
    text-align: center;
}

a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px rgba(255, 81, 0, 0.8);
}

a img {
    max-width: 100px;
    /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 2px;
}

a:hover img {
    filter: hue-rotate(45deg);
    /* Efecto hover en naranja */
}

/* Estilos responsivos */
@media (max-width: 600px) {
    a img {
        max-width: 80px;
        /* Reduzco el tamaño en pantallas pequeñas */
    }
}

@media (max-width: 400px) {
    a img {
        max-width: 60px;
        /* Más pequeño en pantallas muy pequeñas */
    }
}